@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
}

.container {
  padding: 40px;
  margin: auto;
  background-image: url("/images/fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  font-size: 3.5rem;
  max-width: 90%;
  font-family: "Caprasimo", serif;
  text-transform: uppercase;
  color: black;
}

p {
  font-size: 1.25rem;
  max-width: 50%;
  margin-top: 10px;
  margin-bottom: 30px;
  color: black;
}

.botoes {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.botao-primario {
  background-color: darkgreen;
  color: white;
  border-radius: 10px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

.botao-secundario {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

.idiomas-container {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  font-size: 15px;
}

.idiomas {
  color: black;
  background: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .resumo-celular{
    background-color: aliceblue;
    border-radius: 1rem;
    border-style:solid;
    height: fit-content;
    width: fit-content;
    text-align: justify;
    text-indent: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .paragrafo{
      text-indent: 2rem;
      text-indent: 0.5rem;
      padding: 1rem;

    }
  }
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
    text-align: left;
  }

  .botoes {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .idiomas-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 20px;
    align-items: center;
    text-align: center;
    background-size: 220% 100%;
    background-position: right;

  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.85rem;
  }

  .botoes {
    display: flex;
    margin-right: 13rem;

  }
  .idiomas-container {
    align-items: center;
    justify-content: flex-start;
  }
}
