@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteudo {
  font-size: 15px;
  font-family: sans-serif;
  background-color: #d4f0c0;
}
h1 {
  font-family: "Caprasimo", serif;
}

h2 {
  font-family: "Caprasimo", serif;
}
p {
  font-family: "Merriweather", serif;
}
.texto-principal {
  text-align: initial;
  margin-top: 20px;
  font-size: 19px;
  font-family: "Merriweather", serif;
}
.cloroplasto {
  position: relative;
  top: 20px;
}
.cloroplasto img {
  transform: scaleX(-1);
  position: relative;
  left: -45px;
}
.Imagem-organela-ribossomo {
  position: relative;
  top: -40px;
}
.RE img {
  position: relative;
  top: -10px;
  transform: scaleX(-1);
}
.RE {
  position: relative;
  top: -50px;
}
.Ribossomos {
  margin-top: 20px;
}
.REL {
  margin-top: -50px;
}
.Mitocôndria img {
  position: relative;
  top: -60px;
  left: -20px;
}
.Núcleo {
  position: relative;
  top: -80px;
}
.Núcleo img {
  position: relative;
  top: -15px;
  left: -60px;
}
.Vacúolo-Vegetal img {
  position: relative;
  top: -10px;
  left: -10px;
}
