@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteudo {
  font-size: 15px;
  background-color: #d4f0c0;
  padding: 20px;
  font-family: "Merriweather", serif;
}

.h1 {
  font-family: "Caprasimo", serif;
}
.h2 {
  font-family: "Caprasimo", serif;
}

p {
  font-family: "Merriweather", serif;
  font-size: 28px;
}

.texto-principal {
  text-align: initial;
  margin-top: 20px;
  font-size: 30px;
  max-width: 90%;
}

.cloroplasto {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cloroplasto img {
  transform: scaleX(-1);
  max-width: 100%;
  height: auto;
  margin-left: -25%;
}

@media (max-width: 768px) {
  .texto-principal {
    font-size: 16px;
  }

  .cloroplasto {
    align-items: center;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1rem;
    text-align: center;
  }
  .texto-principal {
    font-size: 8px;
    text-align: center;
  }

  .cloroplasto img {
    max-width: 80%;
  }
}

.Ribossomos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}
.RE {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

.Ribossomos img {
  max-width: 100%;
  height: auto;
}
.RE img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .Ribossomos {
    align-items: center;
  }
  .RE {
    align-items: center;
  }

  .Ribossomos img {
    max-width: 80%;
  }
  .RE img {
    max-width: 80%;
  }
}

.REL {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}
.Complexo-de-golgi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

.REL img {
  max-width: 100%;
  height: auto;
}
.Complexo-de-golgi img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .REL {
    align-items: center;
  }
  .Complexo-de-golgi {
    align-items: center;
  }

  .REL img {
    max-width: 80%;
  }
  .Complexo-de-golgi img {
    max-width: 80%;
  }
}
.Peroxissomos,
.Vacúolo-Vegetal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

.Peroxissomos img,
.Vacúolo-Vegetal img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .Peroxissomos,
  .Vacúolo-Vegetal {
    align-items: center;
  }

  .Peroxissomos img,
  .Vacúolo-Vegetal img {
    max-width: 80%;
  }
}
.Mitocôndria,
.Núcleo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

.Mitocôndria img {
  max-width: 100%;
  height: auto;
  margin-left: -20px;
  margin-top: -20px;
}
.Núcleo img {
  max-width: 100%;
  height: auto;
  margin-left: -60px;
}

@media (max-width: 768px) {
  .Mitocôndria,
  .Núcleo {
    align-items: center;
  }

  .Mitocôndria img {
    max-width: 80%;
  }
  .Núcleo img {
    max-width: 80%;
  }
}
.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: darkgreen; /* mantém cor original */
  color: white;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .btn {
    margin-top: 20px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .btn {
    display: block;
    margin: 20px auto 0 auto;
    width: 70%;
    text-align: center;
  }
}
