* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteudo {
  font-size: 15px;
  font-family: sans-serif;
  margin-top: auto;
}

.texto-principal {
  text-align: initial;
  margin-top: 15px;
}
.cloroplasto {
  margin-top: 20px;
}
